@import url('https://fonts.googleapis.com/css?family=Jomolhari|Roboto+Condensed&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Hemsidans utseende */
.backgrund1 {
    background-image: url("./bilder/start.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.backgrund2 {
    background-image: url("./bilder/pumpor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.backgrund3 {
    background-image: url("./bilder/history.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
li {
    padding: 12px;
}
.ruta {
    width: 500px;
    padding: 15px;
    margin: 20px auto auto;
    background: grey;
    font: 18px 'Roboto Condensed', sans-serif;
    margin-left: 100px;
}
h1 {
    text-align: center;
    background: #444444;
    padding: 5px 5px;
    font: 20px 'Jomolhari', serif;
}
/* Fakta till menyerna */
p {
    padding: 15px;
    background: #FFF;
    margin: 10px 0;
}
.andrapbackgrund {
    background: black;
    padding: 10px 10px;
}
/* Menys utseende */
.meny {
    text-align: center;
    margin: 50px 900px auto auto;
}
.meny li {
    display: inline;
}
.meny a {
    background: rgb(235, 138, 11);
    padding: 7px;
    margin: 0 3px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-shadow: 3px 3px 0 #FFF;
    width: 120px;
    display: inline-block;
}
.nymeny a {
    background: rgb(0, 0, 0);
    color: rgb(235, 138, 11);
}